.search {
  display: block;
  margin: 0 auto 20px;
  width: 300px;
  height: 30px;
  line-height: 30px;
  font: normal 14px Arial, Helvetica, sans-serif;
  padding: 0 10px;
  border: 1px solid thistle;
  -webkit-appearance: none;
}

.search:focus {
  border: 1px solid #95dada;
  outline: none;
}
